In [1]:
import calendar
import datetime as dt
from itertools import chain
from datetime import datetime, timedelta
from IPython.core import display as ICD
import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
import seaborn as sns

In [2]:
# -- STORE ALL FITBIT DATA INTO LISTS OF SHEET --
xls_files = glob.glob('Fitbit/*.xls')

## Functions

In [3]:
def add_weekday(df, not_index=0):
    """Add day of week column"""
    
    # -- USE DATAFRAME'S INDEX IF 'not_index' = 1, OTHERWISE USE DATAFRAME'S 'Date' COLUMN --
    col = df.index
    if not_index:
        col = df['Date']
    
    # -- DETERMINE THE DAY OF WEEK FROM THE DATE AND STORE IN A LIST (USED TO ADD AS A COLUMN TO THE DATAFRAME) --
    weekday = []
    for date in col:
        #weekday.append(datetime.strptime(str(date), '%Y-%m-%d').strftime('%A'))
        weekday.append(calendar.day_name[date.weekday()])
    df.loc[:, 'Weekday'] = weekday
    
    
def to_num(df, list_of_cols):
    """Remove commas and convert values to a numeric data type"""
    
    for col in list_of_cols:
        #df[col] = df[col].str.replace(',', '')
        df[col] = df[col].str.replace('\D', '', regex=True)
        df[col] = pd.to_numeric(df[col])
        

def to_date(df, list_of_col):
    """Convert columns into datetime type"""
    
    for col in list_of_col:
        df[col] = pd.to_datetime(df[col])

### Function for cleaning sleep data

In [4]:
def sort_sleep_data(list_of_df):
    """Sort sleep data by date"""
    
    for i in range(len(list_of_df)):
        list_of_df[i].sort_values(by='Start Time', ascending=True, inplace=True)

### Functions for wrangling food and macros data

In [5]:
def flatten_list(l):
    """Flatten a list"""
    
    return list(chain(*l))


def get_sheetnames_and_dates(excel_file):
    """Only get sheet names and dates for days where food data is entered"""
    """Returns: 2 lists (sheet names & dates)"""
    
    monthly_calories = pd.ExcelFile(excel_file).parse('Foods')

    dates = []
    sheet_names = []
    
    # -- GET SHEET NAMES AND DATES ONLY FOR THE DAYS WHERE INFO ABOUT FOOD INTAKE IS ENTERED --
        # -- daily[0]: date --
        # -- daily[1]: calories --
    for daily in monthly_calories.values:
        if str(daily[1]) != '0':
            dates.append(datetime.strptime(daily[0], '%Y-%m-%d').date())
            foodLogSheetName = 'Food Log ' + daily[0].replace('-', '')
            sheet_names.append(foodLogSheetName)
    return sheet_names, dates


def remove_empty_rows(xls, sheet_list):
    """Converting data in labeled table format to dataframe format"""
    """Returns: dataframe without unnecessary data"""
    
    df_list = [pd.read_excel(xls, sheet_name=sheet) for sheet in sheet_list]

    # -- REMOVING UNNECESSARY ROWS & FILLING IN 'MISSING' DATA --
    for df in df_list:
        df.dropna(how='all', inplace=True)
        df['Meal'] = df['Meal'].fillna(method='ffill')
        df.reset_index(drop=True, inplace=True)
        
    return df_list


def get_food_and_macros(food_list, dates_list):
    """Get macros information into desirable dataset format"""
    """Returns: 2 dataframes (one with food consumption data & one with daily macros info)"""

    macros_df = pd.DataFrame()
    all_food_df = pd.DataFrame()
    all_macros_df = pd.DataFrame()
    
    # -- SPLITTING DATA INTO TWO DIFFERENT DATAFRAMES --
    for ind, (df, date) in enumerate(zip(food_list, dates_list)):
        
        index_of_macros = []

        # -- STORE INDEX OF ROWS THAT HAVE MACROS DATA --
        for i in df.index:
            if df['Meal'][i] == 'Daily Totals':
                index_of_macros.append(i)

        # -- EXTRACT MACROS DATA FROM THE DATAFRAME. CREATE & STORE MACROS DATA IN A NEW DATAFRAME --
        macros_df = df.iloc[index_of_macros[1]:index_of_macros[-1]+1]
        macros_df['Date'] = date
        macros_df = macros_df.pivot(index='Date', columns='Food', values='Calories')
        all_macros_df = all_macros_df.append(macros_df)

        # -- ADD 'Date' COLUMN TO THE FOOD DATAFRAME --
        food_list[ind]['Date'] = date

        # -- STORE EACH UPDATED FOOD DATAFRAME INTO A NEW DATAFRAME --
        all_food_df = all_food_df.append(food_list[ind].drop(index=index_of_macros).dropna())

    return all_food_df, all_macros_df

## Data wrangling

### Cleaning activities and sleep data

In [6]:
# -- STORING DATA IN EXCEL AS LISTS DATAFRAMES --
list_of_activities_df = [pd.ExcelFile(xls).parse('Activities', index_col=0, parse_dates=True) for xls in xls_files]
list_of_sleep_df = [pd.ExcelFile(xls).parse('Sleep', usecols=':F') for xls in xls_files]

# -- CONCATING ALL FOOD DATAFRAMES INTO ONE BIG DATAFRAME --
activities = pd.concat(list_of_activities_df)

# -- CONCATING ALL SLEEP DATAFRAMES INTO ONE BIG DATAFRAME --
sort_sleep_data(list_of_sleep_df)
sleep = pd.concat(list_of_sleep_df)
sleep.reset_index(drop=True, inplace=True)

# -- CLEANING ACTIVITIES DATAFRAME (REMOVE MISSING VALUES & REPLACING OUTLIERS WITH MEAN) --
to_num(activities, ['Calories Burned', 'Steps', 'Minutes Sedentary', 'Activity Calories'])
activities = activities[activities['Steps'] != 0]

for col in activities.columns:
    mean = activities[col].mean()
    std = activities[col].std()
    activities[col] = activities[col].mask(((activities[col] - mean).abs() > 2 * std), mean)

# -- ADD DAY OF WEEK COLUMN --
add_weekday(activities)

### Cleaning food data

In [7]:
# -- GET ALL NECESSARY SHEET NAMES AND DATES --
sheet_names, dates = zip(*[get_sheetnames_and_dates(xls) for xls in xls_files])
dates = [d for d in dates if d]

# -- FIRST STEP IN DATA CLEANING: REMOVING ALL EMPTY ROWS --
list_of_food_df = [remove_empty_rows(xls, monthly_sheets) for xls, monthly_sheets in zip(xls_files, sheet_names) if monthly_sheets]

# -- SECOND STEP IN DATA CLEANING: SPLIT ORIGINAL DATAFRAMES INTO SEPARATE DATAFRAMES --
list_of_food_df, list_of_macros_df = zip(*[get_food_and_macros(monthly_food, date) for monthly_food, date in zip(list_of_food_df, dates)])

macros = pd.concat(list_of_macros_df)
food = pd.concat(list_of_food_df)
food.reset_index(drop=True, inplace=True)

# -- ADD DAY OF WEEK COLUMN --
add_weekday(macros)
add_weekday(food, 1)

/Users/vwu/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Activities data

In [8]:
sns.set()

In [9]:
activities

,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,Weekday
Date,,,,,,,,,,
2015-10-21,2150.000000,14061.000000,5.710000,17.000000,531.452381,324.599426,0.000000,0.000000,1566.116635,Wednesday
2015-10-22,2274.000000,13617.000000,5.460000,12.000000,596.000000,300.000000,17.000000,69.000000,1344.000000,Thursday
2015-10-23,2174.000000,16530.000000,6.570000,20.000000,639.000000,361.000000,15.000000,35.000000,1275.000000,Friday
2015-10-24,2161.000000,14710.000000,5.880000,11.000000,550.000000,278.000000,36.000000,52.000000,1227.000000,Saturday
2015-10-25,2459.466539,16972.642447,2.020000,8.000000,869.000000,324.599426,9.000000,14.000000,1566.116635,Sunday
2015-10-26,2097.000000,13642.000000,5.490000,19.000000,847.000000,254.000000,40.000000,44.000000,1136.000000,Monday
2015-10-27,1978.000000,11329.000000,4.600000,13.000000,684.000000,251.000000,16.000000,39.000000,989.000000,Tuesday
2015-10-28,2171.000000,13462.000000,5.370000,16.000000,724.000000,318.000000,11.000000,55.000000,1251.000000,Wednesday
2015-10-29,2306.000000,13626.000000,5.460000,19.000000,643.000000,342.000000,24.000000,61.000000,1407.000000,Thursday
2015-10-30,2385.000000,17653.000000,7.050000,14.000000,538.000000,433.000000,15.000000,52.000000,1547.000000,Friday
2015-10-31,2668.000000,23691.000000,9.470000,17.000000,515.000000,367.000000,68.000000,100.000000,1872.000000,Saturday
2015-11-01,1671.000000,5731.000000,2.280000,7.000000,NaN,217.000000,0.000000,0.000000,564.000000,Sunday
2015-11-02,1739.000000,8331.000000,3.310000,6.000000,NaN,175.000000,14.000000,26.000000,688.000000,Monday
2015-11-03,2263.000000,16121.000000,6.470000,20.000000,NaN,426.000000,18.000000,25.000000,1407.000000,Tuesday
2015-11-04,2244.000000,15795.000000,6.340000,24.000000,NaN,332.000000,28.000000,55.000000,1351.000000,Wednesday
2015-11-05,2461.000000,18946.000000,7.580000,17.000000,NaN,424.000000,35.000000,61.000000,1647.000000,Thursday
2015-11-06,2241.000000,15932.000000,6.410000,24.000000,NaN,295.000000,32.000000,64.000000,1315.000000,Friday
2015-11-07,1985.000000,11890.000000,4.740000,20.000000,NaN,219.000000,37.000000,44.000000,997.000000,Saturday
2015-11-08,1981.000000,11917.000000,5.470000,28.000000,NaN,193.000000,4.000000,46.000000,949.000000,Sunday
2015-11-09,2235.000000,15553.000000,6.260000,21.000000,NaN,295.000000,41.000000,53.000000,1306.000000,Monday
2015-11-10,2361.000000,17216.000000,6.850000,24.000000,NaN,368.000000,42.000000,53.000000,1503.000000,Tuesday
2015-11-11,2318.000000,15200.000000,6.040000,21.000000,NaN,387.000000,22.000000,53.000000,1451.000000,Wednesday
2015-11-12,2303.000000,15975.000000,6.370000,15.000000,NaN,377.000000,23.000000,52.000000,1423.000000,Thursday
2015-11-13,2055.000000,12651.000000,5.150000,25.000000,NaN,303.000000,10.000000,45.000000,1118.000000,Friday
2015-11-14,1957.000000,12416.000000,5.030000,23.000000,NaN,270.000000,15.000000,30.000000,985.000000,Saturday
2015-11-15,1905.000000,12139.000000,4.860000,9.000000,NaN,313.000000,5.000000,5.000000,935.000000,Sunday
2015-11-16,2274.000000,16086.000000,6.460000,20.000000,NaN,393.000000,16.000000,24.000000,1308.000000,Monday
2015-11-17,2219.000000,15150.000000,6.040000,31.000000,NaN,427.000000,12.000000,27.000000,1371.000000,Tuesday
2015-11-18,2310.000000,16504.000000,6.660000,18.000000,NaN,371.000000,39.000000,46.000000,1450.000000,Wednesday
2015-11-19,2441.000000,17367.000000,6.920000,19.000000,NaN,357.000000,25.000000,83.000000,1587.000000,Thursday
...,...,...,...,...,...,...,...,...,...,...
2018-08-02,2295.000000,11409.000000,4.640000,20.000000,NaN,247.000000,19.000000,91.000000,1369.000000,Thursday
2018-08-03,2142.000000,11635.000000,3.790000,11.000000,NaN,392.000000,25.000000,19.000000,1277.000000,Friday
2018-08-04,2459.466539,16972.642447,6.938059,45.000000,NaN,282.000000,32.000000,72.260994,1566.116635,Saturday
2018-08-05,1815.000000,6936.000000,2.250000,12.000000,NaN,279.000000,0.000000,0.000000,815.000000,Sunday
2018-08-06,2459.466539,27549.000000,11.500000,34.000000,NaN,430.000000,43.000000,145.000000,1566.116635,Monday
2018-08-07,2522.000000,12821.000000,4.460000,47.000000,NaN,329.000000,54.000000,87.000000,1677.000000,Tuesday
2018-08-08,2459.466539,26416.000000,9.790000,16.000000,NaN,325.000000,67.000000,72.260994,1566.116635,Wednesday
2018-08-09,2551.000000,15337.000000,5.290000,20.000000,NaN,412.000000,38.000000,53.000000,1744.000000,Thursday
2018-08-10,2267.000000,12483.000000,4.220000,23.000000,NaN,430.000000,36.000000,19.000000,1436.000000,Friday
2018-08-11,2892.000000,25266.000000,6.938059,22.997132,NaN,324.599426,40.000000,135.000000,1948.000000,Saturday
2018-08-12,2459.466539,16972.642447,6.938059,5.000000,NaN,324.599426,4.000000,8.000000,1566.116635,Sunday
2018-08-13,2459.466539,16972.642447,6.938059,42.000000,NaN,390.000000,30.307839,72.260994,1566.116635,Monday
2018-08-14,2656.000000,17390.000000,7.060000,13.000000,NaN,359.000000,42.000000,90.000000,1825.000000,Tuesday
2018-08-15,2459.466539,16972.642447,6.938059,43.000000,NaN,357.000000,60.000000,72.260994,1566.116635,Wednesday
2018-08-16,2533.000000,13198.000000,4.440000,16.000000,NaN,423.000000,32.000000,58.000000,1731.000000,Thursday
2018-08-17,2459.466539,16972.642447,6.938059,22.997132,NaN,307.000000,30.000000,72.260994,1566.116635,Friday
2018-08-18,2217.000000,11203.000000,5.300000,14.000000,NaN,222.000000,21.000000,74.000000,1247.000000,Saturday
2018-08-19,2283.000000,14118.000000,5.180000,23.000000,NaN,282.000000,23.000000,71.000000,1365.000000,Sunday
2018-08-20,3298.000000,23708.000000,8.370000,23.000000,NaN,382.000000,61.000000,72.260994,1566.116635,Monday
2018-08-21,2290.000000,11339.000000,4.250000,17.000000,NaN,319.000000,19.000000,54.000000,1389.000000,Tuesday
2018-08-22,2459.466539,16972.642447,6.938059,36.000000,NaN,320.000000,58.000000,72.260994,1566.116635,Wednesday
2018-08-23,2369.000000,11449.000000,3.760000,16.000000,NaN,363.000000,33.000000,56.000000,1513.000000,Thursday
2018-08-24,2095.000000,11327.000000,4.210000,17.000000,NaN,298.000000,29.000000,37.000000,1162.000000,Friday
2018-08-25,3268.000000,16972.642447,6.938059,42.000000,NaN,178.000000,25.000000,72.260994,2352.000000,Saturday
2018-08-26,1837.000000,8566.000000,3.280000,9.000000,NaN,261.000000,16.000000,14.000000,850.000000,Sunday
2018-08-27,3232.000000,26216.000000,10.130000,29.000000,NaN,418.000000,46.000000,158.000000,2524.000000,Monday
2018-08-28,2385.000000,13594.000000,4.650000,16.000000,NaN,381.000000,21.000000,52.000000,1531.000000,Tuesday
2018-08-29,2459.466539,16972.642447,6.938059,40.000000,NaN,306.000000,30.307839,72.260994,1566.116635,Wednesday
2018-08-30,2468.000000,15040.000000,5.140000,19.000000,NaN,405.000000,42.000000,57.000000,1660.000000,Thursday
2018-08-31,2512.000000,18599.000000,6.620000,20.000000,NaN,407.000000,34.000000,72.000000,1712.000000,Friday

## Sleep data

In [10]:
sleep

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed
0,2015-10-22 12:00AM,2015-10-22 5:07AM,292,15,1,307
1,2015-10-22 9:29PM,2015-10-23 4:17AM,401,7,1,408
2,2015-10-23 9:47PM,2015-10-24 6:43AM,514,22,2,536
3,2015-10-24 11:24PM,2015-10-25 7:16AM,459,13,1,472
4,2015-10-24 2:40PM,2015-10-24 4:05PM,80,5,0,85
5,2015-10-26 1:48PM,2015-10-26 3:54PM,116,10,1,126
6,2015-10-26 9:51PM,2015-10-27 5:10AM,416,23,1,439
7,2015-10-27 9:40PM,2015-10-28 5:32AM,449,23,1,472
8,2015-10-29 10:53PM,2015-10-30 4:00AM,299,8,1,307
9,2015-10-29 12:09AM,2015-10-29 5:12AM,293,10,1,303
10,2015-10-30 9:18PM,2015-10-31 6:30AM,520,32,1,552
11,2015-11-01 10:40PM,2015-11-02 7:09AM,487,21,1,509
12,2015-11-01 12:47AM,2015-11-01 3:05AM,128,10,1,138
13,2015-11-01 3:14PM,2015-11-01 5:01PM,102,5,1,107
14,2015-11-01 3:17AM,2015-11-01 7:05AM,214,14,0,228
15,2015-11-02 10:32PM,2015-11-03 5:04AM,390,1,0,391
16,2015-11-03 8:28PM,2015-11-04 4:56AM,474,33,3,508
17,2015-11-04 9:26PM,2015-11-05 5:09AM,449,14,1,463
18,2015-11-05 9:08PM,2015-11-06 5:14AM,469,16,2,485
19,2015-11-06 10:28PM,2015-11-07 4:48AM,363,16,2,379
20,2015-11-07 10:17PM,2015-11-08 6:39AM,486,15,1,501
21,2015-11-07 4:58AM,2015-11-07 6:19AM,76,5,0,81
22,2015-11-08 8:46PM,2015-11-09 5:09AM,481,21,1,502
23,2015-11-09 10:03PM,2015-11-10 3:33AM,315,14,1,330
24,2015-11-10 3:34AM,2015-11-10 5:17AM,94,9,1,103
25,2015-11-10 9:35PM,2015-11-11 5:17AM,416,46,3,462
26,2015-11-11 9:37PM,2015-11-12 3:57AM,357,22,2,379
27,2015-11-12 9:36PM,2015-11-13 2:25AM,281,8,1,289
28,2015-11-13 2:33AM,2015-11-13 6:13AM,191,29,4,220
29,2015-11-13 9:39PM,2015-11-14 6:27AM,502,26,1,528
...,...,...,...,...,...,...
1217,2018-08-03 10:25PM,2018-08-04 5:24AM,389,30,20,419
1218,2018-08-04 8:48PM,2018-08-05 7:49AM,598,62,31,660
1219,2018-08-05 10:01PM,2018-08-06 5:35AM,410,44,23,454
1220,2018-08-06 10:00PM,2018-08-07 5:14AM,393,41,19,434
1221,2018-08-07 8:43PM,2018-08-08 5:44AM,467,74,19,541
1222,2018-08-08 10:21PM,2018-08-09 5:21AM,381,39,16,420
1223,2018-08-09 9:02PM,2018-08-10 6:43AM,523,58,23,581
1224,2018-08-10 9:52PM,2018-08-11 5:50AM,423,55,15,478
1225,2018-08-11 8:29PM,2018-08-12 6:36AM,532,75,32,607
1226,2018-08-12 9:25PM,2018-08-13 5:31AM,436,50,23,486
1227,2018-08-13 9:18PM,2018-08-14 5:05AM,410,57,17,467
1228,2018-08-14 9:45PM,2018-08-15 5:16AM,395,56,16,451
1229,2018-08-15 10:19PM,2018-08-16 5:24AM,388,37,18,425
1230,2018-08-16 8:24PM,2018-08-17 4:32AM,450,38,21,488
1231,2018-08-17 9:54PM,2018-08-18 6:37AM,480,42,19,522
1232,2018-08-18 11:57AM,2018-08-18 1:15PM,74,4,0,78
1233,2018-08-18 9:25PM,2018-08-19 6:27AM,486,56,29,542
1234,2018-08-19 9:28PM,2018-08-20 5:53AM,448,57,16,505
1235,2018-08-20 8:54PM,2018-08-21 5:04AM,448,42,26,490
1236,2018-08-21 9:04PM,2018-08-22 5:01AM,422,55,25,477
1237,2018-08-22 9:29PM,2018-08-23 5:17AM,423,45,35,468
1238,2018-08-23 10:35PM,2018-08-24 7:03AM,471,37,27,508
1239,2018-08-24 9:49PM,2018-08-25 5:33AM,398,66,24,464
1240,2018-08-25 11:49AM,2018-08-25 3:26PM,194,23,11,217
1241,2018-08-25 11:53PM,2018-08-26 8:23AM,448,62,19,510
1242,2018-08-26 8:45PM,2018-08-27 5:56AM,474,76,31,550
1243,2018-08-27 10:17PM,2018-08-28 5:22AM,370,55,24,425
1244,2018-08-28 9:35PM,2018-08-29 5:03AM,405,43,24,448
1245,2018-08-29 9:44PM,2018-08-30 5:17AM,402,51,20,453
1246,2018-08-30 10:29PM,2018-08-31 6:43AM,445,49,31,494

In [11]:
# -- CONVERT VALUES TO DATETIME --
to_date(sleep, ['Start Time', 'End Time'])

In [12]:
dates = []

# -- USING START TIME TO DETERMINE WHICH DAY THE INSTANCE OF SLEEP SHOULD BE ASSIGNED --
for i in range(len(sleep['Start Time'])):
    date = sleep['Start Time'][i].date()
    time = sleep['Start Time'][i].time()
    if time > dt.time(4):
        dates.append(date)
    else:
        dates.append(date - timedelta(1))
sleep['Date'] = dates

# -- GROUP ALL SLEEP DATA BY DAY --
daily_sleep = sleep.groupby('Date').sum()
daily_sleep.index = pd.to_datetime(daily_sleep.index)

# -- ADD DAY OF WEEK COLUMN --
add_weekday(daily_sleep)

daily_sleep

,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Weekday
Date,,,,,
2015-10-21,292,15,1,307,Wednesday
2015-10-22,401,7,1,408,Thursday
2015-10-23,514,22,2,536,Friday
2015-10-24,539,18,1,557,Saturday
2015-10-26,532,33,2,565,Monday
2015-10-27,449,23,1,472,Tuesday
2015-10-28,293,10,1,303,Wednesday
2015-10-29,299,8,1,307,Thursday
2015-10-30,520,32,1,552,Friday
2015-10-31,342,24,1,366,Saturday
2015-11-01,589,26,2,616,Sunday
2015-11-02,390,1,0,391,Monday
2015-11-03,474,33,3,508,Tuesday
2015-11-04,449,14,1,463,Wednesday
2015-11-05,469,16,2,485,Thursday
2015-11-06,363,16,2,379,Friday
2015-11-07,562,20,1,582,Saturday
2015-11-08,481,21,1,502,Sunday
2015-11-09,409,23,2,433,Monday
2015-11-10,416,46,3,462,Tuesday
2015-11-11,357,22,2,379,Wednesday
2015-11-12,472,37,5,509,Thursday
2015-11-13,502,26,1,528,Friday
2015-11-14,495,26,3,521,Saturday
2015-11-15,397,17,1,414,Sunday
2015-11-16,329,21,1,350,Monday
2015-11-17,583,29,1,612,Tuesday
2015-11-18,398,19,1,417,Wednesday
2015-11-19,519,21,2,540,Thursday
2015-11-20,461,44,4,505,Friday
...,...,...,...,...,...
2018-08-01,356,44,22,400,Wednesday
2018-08-02,615,71,29,688,Thursday
2018-08-03,389,30,20,419,Friday
2018-08-04,598,62,31,660,Saturday
2018-08-05,410,44,23,454,Sunday
2018-08-06,393,41,19,434,Monday
2018-08-07,467,74,19,541,Tuesday
2018-08-08,381,39,16,420,Wednesday
2018-08-09,523,58,23,581,Thursday
2018-08-10,423,55,15,478,Friday
2018-08-11,532,75,32,607,Saturday
2018-08-12,436,50,23,486,Sunday
2018-08-13,410,57,17,467,Monday
2018-08-14,395,56,16,451,Tuesday
2018-08-15,388,37,18,425,Wednesday
2018-08-16,450,38,21,488,Thursday
2018-08-17,480,42,19,522,Friday
2018-08-18,560,60,29,620,Saturday
2018-08-19,448,57,16,505,Sunday
2018-08-20,448,42,26,490,Monday
2018-08-21,422,55,25,477,Tuesday
2018-08-22,423,45,35,468,Wednesday
2018-08-23,471,37,27,508,Thursday
2018-08-24,398,66,24,464,Friday
2018-08-25,642,85,30,727,Saturday
2018-08-26,474,76,31,550,Sunday
2018-08-27,370,55,24,425,Monday
2018-08-28,405,43,24,448,Tuesday
2018-08-29,402,51,20,453,Wednesday
2018-08-30,445,49,31,494,Thursday

## Food

In [13]:
food

,Meal,Food,Calories,Date,Weekday
0,Breakfast,American Cheese,61,2015-11-09,Monday
1,Breakfast,"Bagel thins, Everything",110,2015-11-09,Monday
2,Breakfast,"Egg, Chicken, Fried",184,2015-11-09,Monday
3,Breakfast,"Ham Steak, Traditional",30,2015-11-09,Monday
4,Morning Snack,Dark Chocolate Dreams,170,2015-11-09,Monday
5,Morning Snack,Banana,90,2015-11-09,Monday
6,Morning Snack,"Rice Cakes, Salt Free",70,2015-11-09,Monday
7,Breakfast,"English Muffin, Original",129,2015-11-11,Wednesday
8,Breakfast,"Egg, Chicken, Fried",184,2015-11-11,Wednesday
9,Breakfast,Bacon Pre-Cooked (S),75,2015-11-11,Wednesday
10,Breakfast,American Cheese,79,2015-11-11,Wednesday
11,Morning Snack,Banana,90,2015-11-11,Wednesday
12,Morning Snack,"Rice Cakes, Salt Free",70,2015-11-11,Wednesday
13,Morning Snack,Dark Chocolate Dreams,170,2015-11-11,Wednesday
14,Breakfast,"English Muffin, Original",135,2015-11-12,Thursday
15,Breakfast,American Cheese,79,2015-11-12,Thursday
16,Breakfast,"Egg, Chicken, Fried",184,2015-11-12,Thursday
17,Breakfast,Bacon Pre-Cooked (S),75,2015-11-12,Thursday
18,Morning Snack,Dark Chocolate Dreams,170,2015-11-12,Thursday
19,Morning Snack,Banana,90,2015-11-12,Thursday
20,Morning Snack,"Rice Cakes, Salt Free",70,2015-11-12,Thursday
21,Lunch,Pear,96,2015-11-12,Thursday
22,Lunch,"Muscle Milk, Chocolate",150,2015-11-12,Thursday
23,Morning Snack,Banana,90,2015-11-30,Monday
24,Morning Snack,Banana,90,2015-12-02,Wednesday
25,Morning Snack,"Muscle Milk, Chocolate",150,2015-12-02,Wednesday
26,Breakfast,"English Muffin, Original",135,2015-12-09,Wednesday
27,Breakfast,American Cheese,79,2015-12-09,Wednesday
28,Breakfast,"Ham Steak, Traditional",30,2015-12-09,Wednesday
29,Breakfast,"Egg, Chicken, Fried",184,2015-12-09,Wednesday
...,...,...,...,...,...
2011,Lunch,Chicken Caesar Wrap,380,2018-08-22,Wednesday
2012,Lunch,Classic Potato Chips,230,2018-08-22,Wednesday
2013,Afternoon Snack,"Watermelon, Raw",185,2018-08-22,Wednesday
2014,Breakfast,"Ezekiel 4:9 Sprouted Grain Bread, Low Sodium",80,2018-08-23,Thursday
2015,Breakfast,"Egg, Chicken, White, Raw",46,2018-08-23,Thursday
2016,Breakfast,Eggs,140,2018-08-23,Thursday
2017,Breakfast,Pre-Cooked Sliced Bacon,50,2018-08-24,Friday
2018,Breakfast,"English Muffin, 100% Whole Wheat",130,2018-08-24,Friday
2019,Breakfast,Grapefruit,102,2018-08-24,Friday
2020,Breakfast,American Cheese,79,2018-08-24,Friday
2021,Breakfast,"Egg, Chicken, Fried",184,2018-08-24,Friday
2022,Breakfast,"English Muffin, 100% Whole Wheat",130,2018-08-25,Saturday
2023,Breakfast,"Egg, Chicken, Fried",184,2018-08-25,Saturday
2024,Breakfast,Grapefruit,102,2018-08-25,Saturday
2025,Breakfast,Pre-Cooked Sliced Bacon,50,2018-08-25,Saturday
2026,Breakfast,American Cheese,79,2018-08-25,Saturday
2027,Morning Snack,Natural Creamy Peanut Butter Spread,190,2018-08-25,Saturday
2028,Morning Snack,"Ezekiel 4:9 Sprouted Grain Bread, Low Sodium",80,2018-08-25,Saturday
2029,Afternoon Snack,"Watermelon, Raw",92,2018-08-25,Saturday
2030,Anytime,Banana,121,2018-08-29,Wednesday
2031,Anytime,"Granola Bar, Peanut Butter",190,2018-08-29,Wednesday
2032,Breakfast,Pre-Cooked Sliced Bacon,50,2018-08-29,Wednesday
2033,Breakfast,Eggs,140,2018-08-29,Wednesday
2034,Breakfast,Bagel Thins,110,2018-08-29,Wednesday
2035,Breakfast,American Cheese,79,2018-08-29,Wednesday
2036,Morning Snack,"Ezekiel 4:9 Sprouted Grain Bread, Low Sodium",80,2018-08-29,Wednesday
2037,Morning Snack,Natural Creamy Peanut Butter Spread,190,2018-08-29,Wednesday
2038,Lunch,Chicken Caesar Wrap,380,2018-08-29,Wednesday
2039,Lunch,Classic Potato Chips,230,2018-08-29,Wednesday
2040,Afternoon Snack,"Watermelon, Raw",92,2018-08-29,Wednesday

## Macros

In [14]:
macros

Food,Calories,Carbs,Fat,Fiber,Protein,Sodium,Water,Weekday
Date,,,,,,,,
2015-11-09,715,72 g,34 g,8 g,35 g,943 mg,0 fl oz,Monday
2015-11-11,797,74 g,39 g,4 g,37 g,"1,064 mg",0 fl oz,Wednesday
2015-11-12,"1,049",108 g,45 g,11 g,53 g,"1,216 mg",0 fl oz,Thursday
2015-11-30,90,20 g,0 g,1 g,1 g,2 mg,0 fl oz,Monday
2015-12-02,240,29 g,6 g,3 g,17 g,152 mg,0 fl oz,Wednesday
2015-12-09,860,101 g,35 g,8 g,37 g,"1,105 mg",0 fl oz,Wednesday
2015-12-10,"1,054",135 g,40 g,26 g,58 g,"1,210 mg",0 fl oz,Thursday
2015-12-11,"1,157",155 g,35 g,23 g,68 g,679 mg,0 fl oz,Friday
2015-12-15,"1,162",142 g,44 g,13 g,57 g,"1,402 mg",0 fl oz,Tuesday
2016-01-01,761,100 g,26 g,7 g,26 g,"1,029 mg",0 fl oz,Friday
2016-01-04,968,94 g,44 g,6 g,33 g,"1,086 mg",0 fl oz,Monday
2016-01-07,"1,151",178 g,32 g,11 g,33 g,"1,163 mg",0 fl oz,Thursday
2016-01-08,868,115 g,27 g,12 g,31 g,"1,256 mg",0 fl oz,Friday
2016-01-09,444,31 g,19 g,9 g,32 g,607 mg,0 fl oz,Saturday
2016-01-11,738,73 g,34 g,5 g,28 g,"1,046 mg",0 fl oz,Monday
2016-01-12,528,44 g,22 g,7 g,26 g,"1,029 mg",0 fl oz,Tuesday
2016-01-13,540,55 g,30 g,7 g,18 g,347 mg,0 fl oz,Wednesday
2016-01-14,738,49 g,41 g,10 g,38 g,"1,399 mg",0 fl oz,Thursday
2016-01-15,"1,013",91 g,48 g,17 g,56 g,"1,552 mg",0 fl oz,Friday
2016-01-18,549,48 g,26 g,2 g,29 g,"1,029 mg",0 fl oz,Monday
2016-01-19,483,44 g,22 g,7 g,26 g,"1,037 mg",0 fl oz,Tuesday
2016-01-21,"1,227",146 g,48 g,15 g,51 g,"1,696 mg",0 fl oz,Thursday
2016-01-22,888,85 g,41 g,17 g,40 g,"1,401 mg",0 fl oz,Friday
2016-01-26,"1,138",108 g,54 g,21 g,57 g,"1,559 mg",0 fl oz,Tuesday
2016-01-28,738,73 g,34 g,5 g,28 g,"1,046 mg",0 fl oz,Thursday
2016-01-29,908,119 g,31 g,17 g,31 g,"1,101 mg",0 fl oz,Friday
2016-01-31,802,75 g,32 g,7 g,42 g,"1,274 mg",0 fl oz,Sunday
2016-02-01,"1,034",152 g,31 g,17 g,33 g,"1,126 mg",0 fl oz,Monday
2016-02-04,802,87 g,27 g,5 g,37 g,"1,226 mg",0 fl oz,Thursday
2016-02-06,856,106 g,23 g,16 g,45 g,"1,008 mg",0 fl oz,Saturday
...,...,...,...,...,...,...,...,...
2018-06-28,"2,162",244 g,96 g,35 g,113 g,"1,527 mg",0 fl oz,Thursday
2018-06-29,726,118 g,13 g,15 g,40 g,"1,052 mg",0 fl oz,Friday
2018-07-02,"2,266",314 g,73 g,55 g,168 g,"2,737 mg",0 fl oz,Monday
2018-07-03,"1,160",134 g,45 g,11 g,58 g,"2,014 mg",0 fl oz,Tuesday
2018-07-05,448,16 g,28 g,3 g,29 g,375 mg,0 fl oz,Thursday
2018-07-09,"2,298",291 g,87 g,46 g,119 g,"3,024 mg",0 fl oz,Monday
2018-07-10,811,76 g,42 g,10 g,35 g,"1,006 mg",0 fl oz,Tuesday
2018-07-11,"1,411",224 g,60 g,19 g,64 g,837 mg,0 fl oz,Wednesday
2018-07-12,"1,466",187 g,63 g,21 g,49 g,"1,227 mg",0 fl oz,Thursday
2018-07-13,818,109 g,32 g,10 g,28 g,695 mg,0 fl oz,Friday
2018-07-16,904,107 g,43 g,12 g,30 g,924 mg,104 fl oz,Monday
2018-07-19,"1,209",159 g,36 g,22 g,75 g,"1,654 mg",0 fl oz,Thursday
2018-07-20,549,52 g,26 g,6 g,28 g,852 mg,0 fl oz,Friday
2018-07-21,940,102 g,42 g,14 g,40 g,"1,004 mg",0 fl oz,Saturday
2018-07-23,"2,018",238 g,75 g,25 g,106 g,"1,683 mg",0 fl oz,Monday
2018-07-30,"2,371",257 g,99 g,19 g,119 g,"2,354 mg",0 fl oz,Monday
2018-08-01,"2,310",271 g,106 g,21 g,136 g,"2,544 mg",0 fl oz,Wednesday
2018-08-02,759,89 g,32 g,6 g,30 g,"1,042 mg",0 fl oz,Thursday
2018-08-06,"2,915",327 g,113 g,42 g,105 g,"1,994 mg",0 fl oz,Monday
2018-08-13,"2,775",354 g,106 g,45 g,120 g,"3,420 mg",0 fl oz,Monday
2018-08-15,983,68 g,58 g,13 g,47 g,"1,152 mg",0 fl oz,Wednesday
2018-08-16,"1,266",219 g,32 g,19 g,35 g,"1,201 mg",0 fl oz,Thursday
2018-08-17,734,84 g,35 g,15 g,43 g,"1,084 mg",0 fl oz,Friday
2018-08-20,"1,375",210 g,46 g,27 g,62 g,"1,183 mg",0 fl oz,Monday
2018-08-21,"1,340",172 g,51 g,22 g,58 g,"1,107 mg",0 fl oz,Tuesday
2018-08-22,"2,535",308 g,109 g,22 g,92 g,"3,612 mg",0 fl oz,Wednesday
2018-08-23,266,16 g,10 g,3 g,26 g,292 mg,0 fl oz,Thursday
2018-08-24,545,51 g,26 g,6 g,28 g,852 mg,0 fl oz,Friday
2018-08-25,907,96 g,42 g,12 g,40 g,"1,005 mg",0 fl oz,Saturday
2018-08-29,"1,662",187 g,73 g,21 g,76 g,"2,700 mg",0 fl oz,Wednesday